<h1>Events</h1>
<!-- <p><%= "#{pluralize(@events.size, "Event ist", "Events sind")}" %> vorhanden</p> -->
<p><%= @events.size == 1 ? "#{@events.size} Event ist vrhanden" : "#{@events.size} Events sind vorhanden" %> </p>
<table>
	<tr>
		<th>NAME</th>
		<th>Beschreibung</th>
		<th>Datum</th>
		<th>Location</th>
		<th>Price</th>
	</tr>
<% @events.each do |event| %>
	<tr>
		<td><%= event.name %></td>
		<td><%= event.description %></td>
		<td><%= event.start_at %></td>
		<td><%= event.location %></td>
		<td><%= format_price(event) %></td>
	</tr>
<% end %>
</table>