<%= form_for(@movie) do |f| %>
	<% if @movie.errors.any? %>
		<h3>Opps! Der <%= @movie.class.name.titleize.downcase %> konnte nicht gespeichert werden.</h3>
		Korrigieren Sie die folgenden <%= pluralize(@movie.errors.count, "error") %>:
		<ul>
			<% @movie.errors.full_messages.each do |message| %>
				<li><%= message %></li>
			<% end %>
		</ul>
	<% end %>
	<p>
		<%= f.label :title %><br>
		<%= f.text_field :title %>
	</p>
	<p>
		<%= f.label :description %><br>
		<%= f.text_area :description %>
	</p>
		<p>
		<%= f.label :rating %><br>
		<%= f.text_field :rating %>
	</p>
		<p>
		<%= f.label :total_gross %><br>
		<%= f.number_field :total_gross %>
	</p>
	<p>
		<%= f.label :released_on %><br>
		<%= f.datetime_select :released_on %>
	</p>
	<p>
		<%= f.label :poster_image_file %><br>
		<%= f.text_field :poster_image_file, placeholder: "Filmtitel + .jpg als Dateityp" %>
	</p>
	<p>
		<%= f.label :cast %><br>
		<%= f.text_field :cast %>
	</p>
	<p>
		<%= f.label :director %><br>
		<%= f.text_field :director %>
	</p>
	<p>
		<%= f.label :duration %><br>
		<%= f.number_field :duration %>
	</p>

		<p>
		<%= f.submit %>
	</p>
<% end %>