<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Ontrack Basis" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Ontrack Basis" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%# Modernizr is required for Zurb Foundation %>
    <%= javascript_include_tag 'vendor/modernizr' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="row">
      <div class="large-12 columns">
        <%= render 'layouts/header' %>
        <main role="main">
           <%= render 'layouts/messages' %>
           <%= yield %>
        </main>
        
      </div>
    </div>
  </body>
</html>
