<h1>
		<%if @movies.size == 1 %>
			<%="MOVIE" %>
		<% else %>
			<%= "MOVIES" %>
		<% end %>
</h1>

<table border="1">
	<tr>
		<th>Title</th>
		<th>Description</th>
		<th>Rating</th>
		<th>Released on</th>
		<th>Total gross</th>
		<th>Anzeigen</th>
	</tr>
<% @movies.each do | var | %>
	<tr>
		<td><%= var.title %></td>
		<td><%= truncate(var.description, length: 40, seperator: ' ') %></td>
		<td><%= var.rating %></td>
		<td><%= var.released_on %></td>
		<td><%= format_total_gross(var) %></td>
		<td><%= link_to "Show", movie_path(var.id) %>
	</tr>
<% end %>
</table>

<%= link_to "Neuen Film anlegen", new_movie_path %>


