<h1><%= @project.title %></h1>
<p>
  <strong>Title:</strong>
  <%= @task.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @task.description %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @task.start_date %>
</p>

<div class="panel callout radius">
  <ul class="inline-list">
    <li><%= link_to 'Project', project_path(@project) %> </li>
    <li><%= link_to 'New Task', new_project_task_path(@project) %></li>
    <li><%= link_to 'Edit', edit_project_task_path(@project,@task) %> </li>
    <li><%= link_to 'Back', project_tasks_path(@project) %></li>
  </ul>
</div>

